@model WebApplication1.Models.ViewModel.CategoryProductVM

<h1>List of View</h1>

<h2>Category Table</h2>
<table class="table">
    <thead>
        <tr>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var i in Model.CategoryVMs)
        {
            <tr>
                <td>@i.CategoryName</td>
                <td>
                    <a asp-action="GetSingle" asp-route-categoryname="@i.CategoryName" class="btn btn-primary">View</a>
                    <a asp-action="Edit" asp-route-categoryname="@i.CategoryName" class="btn btn-warning">Edit</a>
                    <a asp-action="Delete" asp-route-categoryname="@i.CategoryName" class="btn btn-warning">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>